<div
    style="font-family: Arial, sans-serif; text-align: center; border: 1px solid #ddd; padding: 20px; max-width: 600px; margin: auto;">
    <img src="https://www.obana.africa/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fobana.africa.6c072a90.png&w=1920&q=75"
        alt="Obana Office Logo" style="width: 100px; margin-bottom: 20px;" />
    <p style="font-size: 18px; color: #555;">Welcome to Obana Admin Panel!</p>
    <p style="font-size: 18px; color: #555;">Hello {{user}},</p>

    <p style="font-size: 16px; color: #555;">Your admin account is now active!</p>
    <p style="font-size: 16px; text-align: left; color: #555;">&spades;Login Details:</p>
    <p style="font-size: 16px; text-align: left; color: #555;">&#x261E;Username: {{email}}</p>
    <p style="font-size: 16px; text-align: left; color: #555;">&#x261E;Temporary Password: {{password}}</p>
    <p style="font-size: 16px; text-align: left; color: #555;">&#x261E;Login URL: <a href={{url}}
            style="color: #007BFF;">Click Here</a>
    </p>
    <br>
    <p style="font-size: 16px; text-align: left; color: #555;">&spades; Your Role:</p>
    <p style="font-size: 16px; text-align: left; color: #555;">&#x261E; Manage users & vendors</p>
    <p style="font-size: 16px; text-align: left; color: #555;">&#x261E; Oversee products & orders</p>
    <p style="font-size: 16px; text-align: left; color: #555;">&#x261E; Monitor reports & platform activities
    </p>

    <p style="font-size: 12px; color: #999;">Welcome aboard</p>
    <p style="font-size: 12px; color: #999;">Need help? Contact us at contact@obana.africa.</p>

</div>